{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "tools": "./source/tools",
          "model": "./source/model",
          "services": "./source/services",
          "_constants": "./source/constants"
        }
      }
    ]
  ]
}